blinker==1.7.0
click==8.1.7
et-xmlfile==1.1.0
Flask==3.0.2
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
openpyxl==3.1.2
pillow==10.3.0
Unidecode @ file:///home/iberoiza/Desktop/python_apps/secretario/requirements/Unidecode-1.3.8-py3-none-any.whl
Werkzeug==3.0.1
