{% extends 'layout.html' %}

{% block encabezado %}
     <h1>Mediclean Ruta</h1>
     <h2>Administrador de ruta</h2>
     <h2>({{ datos.nombrePagina }})</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
     <form class="formularioIngreso" method="post" action="{{ url_for('uploadRuta', aut=datos.aut) }}" enctype="multipart/form-data">
          <span class="titulos">Importacion de ruta</span>
          <label for="archivo">Archivo de ruta:</label>
          <input type="file" name="archivo" style="width: 83%">
          <button type="submit" style="width: 90%">Upload</button>
     </form>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}

{% endblock %}
