{% extends 'layout.html' %}

{% block encabezado %}
          <h1>Mediclean Ruta</h1>
          <h2>Modificar cliente</h2>
{% endblock %}

<!-- ------------------- BODY A ----------------------------- -->

{% block body_a %}
<form name="buscacliente" class="formularioIngreso" method="post" action="{{ url_for('clientes', aut=datos.aut) }}">
     <span class="titulos">Formulario de modificacion cliente</span>
     {% for campo in datos.form_modcliente %}
          {% if campo == "estado" %}
          <div class="form-field">
               <label for="estado">Estado del cliente</label>
               <select name="estado" required>
                    <option value="{{ datos.form_modcliente['estado']['dato'] }}" selected>{{ datos.form_modcliente['estado']['dato'] }}</option>
                    <option value="activo">Activo</option>
                    <option value="de baja">De Baja</option>
                    <option value="suspendido">Suspendido</option>
               </select>     
          </div>
          {% elif campo != "idy" %}
               <div class="form-field">
                    <label for="{{ campo }}">{{ datos.form_modcliente[campo]["encabezado"] }}
                         <input name="{{ campo }}" placeholder="{{ datos.form_modcliente[campo]['encabezado'] }}" 
                         {% if campo == "contrato" and campo == "cliente" and campo == "rut" and campo == "direccion" %}
                         required
                         {% endif %} 
                         {% if datos.form_modcliente[campo]['dato'] %} 
                         value="{{ datos.form_modcliente[campo]['dato'] }}"
                         {% endif %} 
                         {% if campo == 'id' %} 
                         readonly
                         {% endif %}>
                    </label>
               </div>
          {% endif %}
     {% endfor %}
     <div class="form-field">
          <input name="idy" value="{{ datos.form_modcliente['idy']['dato'] }}" hidden readonly>
     </div>
     <button name="modificacliente" type="submit" value="formulario_modificado" style="background: dark-yellow;">Guardar modificacion</button>
</form>
{% endblock %}

<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
{% endblock %}
