{% extends "index.html" %}

{% block body %}
<div class="cuadroBusquedaCliente">
    <label for="buscacliente">Busqueda clientes:</label><br>
    <input type="text" id="buscacliente" name="buscacliente" style="width: 50%;"><br>
    <label for="filtro">Buscar por:</label><br>
    <select name="filtro" id="filtro">
        <option value="cliente" selected>Nombre</option>
        <option value="rut">Rut</option>
        <option value="telefono">Telefono</option>
        <option value="direccion">Direccion</option>
        <option value="comuna">Comuna</option>
    </select>
</div><hr>
<div id="respuestaBuscaCliente"></div><hr>
<form action={{ url_for('clientes_nuevo') }} method="GET">
    <button type="submit" name="toClienteNuevo">Nuevo cliente</button>
</form>
{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='clientes.js') }}"></script>
{% endblock %}
