{% extends 'layout.html' %}

{% block encabezado %}
          <h1>Mediclean Ruta</h1>
          <h2>Administrador de ruta</h2>
{% endblock %}

<!-- ------------------- BODY A ----------------------------- -->

{% block body_a %}
     <form name="buscacliente" class="formularioIngreso" method="post">
          <label for="nombre">Indica nombre:</label><br>
          <input name="nombre" placeholder="Indica nombre o parte de nombre" required><br>
          <button name="buscacliente" value="buscacliente">Buscar</button><hr>
     </form>
     <form class="formularioIngreso" method="post">
          <button name="nuevocliente" value="nuevocliente">Nuevo cliente</button>
     </form>
{% endblock %}

<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
{% if "listaclientes" in datos %}
     {% if datos.listaclientes.datos != 0 and datos.listaclientes.datos != [] %}
          <table class="tbresultados">
          <thead>
                    <th>Modificar</th>
               {% for dato in datos.listaclientes.encabezados %}
                    <th>{{ dato }}</th>
               {% endfor %}
          </thead>
          <tbody>
               {% for fila in datos.listaclientes.datos %}
                    <tr>
                         <td>
                              <form method="post" action="{{ url_for('clientes') }}">
                                   <button type="submit" name="aRuta" value="{{ fila.1 }}">A Ruta</button>
                              </form>
                         </td>
                    {% for data in fila %}
                         <td>{{ data }}</td>
                    {% endfor %}
                         <td>
                              <form method="post" action="{{ url_for('clientes') }}">
                                   <button type="submit" name="modificaCliente" value="{{ fila.1 }}">Modificar datos</button>
                              </form>
                         </td>
                    </tr>
               {% endfor %}
          </tbody>
          </table>
     {% elif datos.listaclientes.datos == 0 or datos.listaclientes.datos == [] %}
          <p class="textosinformativos">>>>>>>>>>>>>>  SIN DATOS <<<<<<<<<<<<<<</p>
     {% endif %}
     <br><hr><br>
{% endif %}

{% if "modificacion" in datos %}
     <form name="moddelete" class="formularioIngreso" method="post" action="{{ url_for('clientes') }}">
          <label for="nombre">Nombre:</label><br>
          <input name="nombre" value="{{ datos.modificacion.2 }}" required>
          <label for="rut">RUT:</label><br>
          <input name="rut" value="{{ datos.modificacion.1 }}" required>
          <label for="estado">ESTADO:</label><br>
          <select name="estado">
               <option value="default">{{ datos.modificacion.0 }}</option>
               <option value="activo">Activo</option>
               <option value="de baja">De Baja</option>
               <option value="suspendido">Suspendido</option>
          </select>
          <label for="direccion">Direccion:</label><br>
          <input name="direccion" value="{{ datos.modificacion.3 }}" required>
          <label for="comuna">Comuna:</label><br>
          <input name="comuna" value="{{ datos.modificacion.4 }}" required>
          <label for="telefono">Telefono:</label><br>
          <input type="number" name="telefono" value="{{ datos.modificacion.5 }}">
          <label for="gps">Coordenadas GPS:</label><br>
          <input name="gps" value="{{ datos.modificacion.6 }}">
          <label for="otros">Otros:</label><br>
          <input name="otros" value="{{ datos.modificacion.7 }}">
          <br><hr><br>
          <button type="submit" name="guardamod" value="guardamod">Guardar modificacion</button>
          <button type="submit" name="darbaja" value="darbaja">Dar de baja Cliente</button>
          <button type="submit" name="cancelar" value="cancelar">Cancelar edicion</button>
     </form>
{% endif %}
{% endblock %}
