{% extends 'layout.html' %}

{% block encabezado %}
        <h1>Codificador Codexpy</h1>
        <h2>Isho apps</h2>
{% endblock %}

<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
    {% if datos.urlfor == "codex" %}
      <form class="formularioIngreso" method="post">
        <label for="ingreso">Palabra o frase: <input name="ingreso" onload="focus" type="text"></label><br>
        <button name="codpy2" value="codificar">Codifica!</button>
        <button name="decodpy2" value="decodificar">Decodifica!</button>
      </form>
    {% elif datos.urlfor == "codex1" %}
      <form class="formularioIngreso" method="post">
        <label for="ingreso">Palabra o frase: <input name="ingreso" onload="focus" type="text"></label><br>
        <button name="codpy" value="codificar">Codifica o Decodifica!</button>
      </form>    
    {% endif %}
      
{% endblock %}

<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
<div class="resultadoCodexpy">
  <label class="textosinformativos" for="resultado">Resultado:</label>
  <textarea name="resultado" style="width:100%" readonly>{{ datos.resultado }}</textarea>
</div>
{% endblock %}
