{% extends "index.html" %}

{% block body %}
<div class="cuadroCodificador">
    <br>
    <label for="frase">
        Entrada:<br>
        <input type="text" id="frase" style="width: 50%;">
    </label>
    <label for="tipoaccion">
        Tipo de coder:<br>
        <select name="tipoaccion" id="tipoaccion" style="max-width: 170px;">
            <option value="coder1" selected>Coder1-(cod-decod)</option>
            <option value="coder2cod">Coder2-(cod)</option>
            <option value="coder2deco">Coder2-(decod)</option>
        </select>
    </label>
</div><br><hr><br>
<div id="respuestaServidor">
    <textarea id="frproc" style="width: 50%;" readonly></textarea>
</div><br><hr>
{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='coder.js') }}"></script>
{% endblock %}
