{% extends 'layout.html' %}

{% block encabezado %}
     <h1>Mediclean Ruta</h1>
     <h2>Administrador de ruta</h2>
     <h2>({{ datos.nombrePagina }})</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
     <form class="formularioIngreso" method="post" action="{{ url_for('rutaactual') }}">
          <label for="clienterut">Rut:
               <input name="clienterut" type="text" value="{{ datos.clienterut }}" readonly>
          </label>
          <label for="clientenombre">Cliente:
               <input name="clientenombre" type="text" value="{{ datos.clientenombre }}" readonly>
          </label>
          <label for="observacion">Observacion:
               <input name="observacion" type="text" placeholder="Ej. retiro 3 cajas de 3 litros, cliente pide caja extra prox retiro">
          </label>
          <button type="submit" name="{{ datos.propConfPos }}" value="REALIZADO_FORM">{{ datos.confirmarposponer }}</button>
          <button type="button" name="rutaactual" value="rutaactual">Cancelar</button>
     </form>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}

{% endblock %}
