{% extends 'layout.html' %}

{% block encabezado %}
     <h1>Mediclean Ruta</h1>
     <h2>Administrador de ruta</h2>
     <h2>({{ datos.nombrePagina }})</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
     <form class="formularioIngreso" method="post" action="{{ url_for('rutaactual', aut=datos.aut) }}">
          <label for="clienteidx">IDX:</label>
          <input name="clienteidx" type="number" value="{{ datos.clienteidx }}" readonly>
          <label for="clienterut">Rut:</label>
          <input name="clienterut" type="text" value="{{ datos.clienterut }}" readonly>
          <label for="clientenombre">Cliente:</label>
          <input name="clientenombre" type="text" value="{{ datos.clientenombre }}" readonly>
          <label for="clientedireccion">Direccion:</label>
          <input name="clientedireccion" type="text" value="{{ datos.clientedireccion }}" readonly>
          <label for="clientefono">Telefono:</label>
          <input name="clientefono" type="text" value="{{ datos.clientefono }}" readonly>
          <hr>
          <!-- Datos modificables -->
          <p>------ Registro pesaje -----</p>
          <label for="farmaco">Farmaco(kg):</label>
          <input name="farmaco" type="number" value="0" placeholder="kg" required>
          <label for="patologico">Patologico(kg):</label>
          <input name="patologico" type="number" value="0" placeholder="kg" required>
          <label for="contaminado">Contaminados(kg):</label>
          <input name="contaminado" type="number" value="0" placeholder="kg" required>
          <label for="cortopunzante">Cortopunzante(kg):</label>
          <input name="cortopunzante" type="number" value="0" placeholder="kg" required>
          <label for="otropeligroso">Otro peligroso(kg):</label>
          <input name="otropeligroso" type="number" value="0" placeholder="kg" required>
          <label for="liquidorx">Liquidos RX(kg):</label>
          <input name="liquidorx" type="number" value="0" placeholder="kg" required>
          <hr>
          <p>------ Registro insumos -----</p>
          {% for nombre, valor in datos.insumos.items() %}
               <label for="{{ valor.columna }}">{{ nombre }}:</label>
               <input name="{{ valor.columna }}" type="number" value="0" placeholder="{{ valor.stock }} Stock" required>
          {% endfor %}
          <hr>
          <p>------ OTROS DETALLES -----</p>
          <!-- Campo de observaciones -->
          <label for="observacion">Observacion:</label>
               <!-- <input name="observacion" type="text" placeholder="Ej. retiro 3 cajas de 3 litros, cliente pide caja extra prox retiro"> -->
          <textarea name="observacion" placeholder="Ej. retiro 3 cajas de 3 litros, cliente pide caja extra prox retiro"></textarea><br>
          <button type="submit" name="{{ datos.propConfPos }}" value="REALIZADO_FORM">{{ datos.confirmarposponer }}</button><br>
          <button type="submit" name="rutaactual" value="rutaactual">Cancelar</button>
     </form>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}

{% endblock %}
