{% extends 'layout.html' %}

{% block encabezado %}
     <h1>Mediclean Ruta</h1>
     <h2>DISPOSICION FINAL</h2>
     <h2>(Registro de eliminaciones)</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
{% if "registrosEliminaciones" in datos %}
          <table class="tbresultados">
          <thead>
                    <th>DETALLES</th>
               {% for dato in datos.registrosEliminaciones.encabezados %}
                    <th>{{ dato }}</th>
               {% endfor %}
          </thead>
          <tbody>
               {% for fila in datos.registrosEliminaciones.datos %}
                    <tr>
                         <td>
                              <form method="post" action="{{ url_for('eliminaciones', aut=datos.aut) }}">
                                   <button type="submit" name="detalle_registro" value="{{ fila.0 }}" style="width: 95px;">Detalle</button>
                              </form>
                         </td>
                         {% for data in fila %}
                              <td>
                                   {{ data }}
                              </td>
                         {% endfor %}
                    </tr>
               {% endfor %}
          </tbody>
          </table>
{% endif %}
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
{% endblock %}
