{% extends 'index.html' %}
{% block body %}
<h3>Gastos</h3><hr><br>
<div class="contenedores">
    <div class="form-reg-gasto">
        <form id="form-gasto" method="post">
            {% for campo in datos.campos %}
            <label for="{{ campo }}">
                {{ datos.campos[campo]["encabezado"] }}:
            </label>
            <input id="{{ campo }}" name="{{ campo }}" type="{{ datos.campos[campo]["type"] }}">
            {% endfor %}
            <button id="btn-add-gasto" type="submit" disabled="true">ESPERE CARGA PAGINA</button>
        </form>
    </div><br>
    <div>
        <label for="fechas-almacenadas">
            Fechas almacenadas: 
            <select name="fechas-almacenadas" id="fechas-almacenadas" style="width: 30%"></select>
        </label>
    </div>
    <div class="contenedor-resultados">
        <div class="resultados">
            <div id="totales" class="lista"></div><br><hr><br>
            <div id="tablaResultados" class="tabla"></div><br><hr><br>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script type="module" src="{{ url_for('static', filename='gastos.js') }}"></script>
{% endblock %}
