{% extends 'layout.html' %}

{% block encabezado %}
        <h1>Mediclean Ruta</h1>
        <h2>Administrador de ruta</h2>
{% endblock %}

{% block botonera %}
    <form class="botoneraMenu" method="post" action="{{ url_for('accion', aut=datos.aut) }}">
        <button class="botonanimado" id="clientes" name="clientes" value="clientes">Clientes</button>
        <button class="botonanimado" id="rutas" name="rutas" value="rutas">Rutas</button>
        <button class="botonanimado" id="rutaactual" name="rutaactual" value="rutaactual">Ruta actual</button>
    </form>
{% endblock %}

<!-- ------------------- BODY A ----------------------------- -->

{% block body_a %}
    {% if "ingresarasistencia" in datos %}
        <form class="formularioIngreso" method="post" action="{{ url_for('ingresa_asistencia', aut=datos.aut) }}">
            <label for="fecha">Fecha:</label><br>
            <input type="date" id="fecha_asistencia" name="fecha_asistencia" required><br>
            <label for="tiporeunion">Tipo de reunion ("entresemana" o "findesemana"):</label><br>
            <input type="text" id="tiporeunion" name="tiporeunion" required><br>
            <label for="asistencia">Asistencia:</label><br>
            <input type="number" id="asistencia" name="asistencia" required><br>
            <label for="observaciones">Asistencia:</label><br>
            <input type="text" id="observaciones" name="observaciones" placeholder="alguna observacion" value="ok"><br>
            <button id="ingasistencia" name="ingasistencia" value="ingresa">Ingresar</button><br>
        </form>

    {% elif "registrosasistencias" in datos %}
    <table class="tbresultados">
		<thead>
			{% for dato in datos.registrosasistencias.encabezados %}
				<th>{{ dato }}</th>
			{% endfor %}
		</thead>
		<tbody>
			{% for dato in datos.registrosasistencias.datos %}
				<tr>
				{% for fila in dato %}
					<td>{{ fila }}</td>
				{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
    <form class="formularioIngreso" method="post" action="{{ url_for('elimina_asistencia', aut=datos.aut) }}">
        <label for="fechaeliminar">Indica la fecha si deseas eliminar:</label>
        <input type="date" name="fechaeliminar" id="fechaeliminar" required>
        <button id="eliminadato" name="eliminadato" value="eliminadato">Eliminar dato</button>
    </form>
    
    {% elif "informehermano" in datos %}
    <form class="formularioIngreso" method="post" action="{{ url_for('informehermano', aut=datos.aut) }}">
        <label for="listahermanos">Nombre del hermano(a)</label>
        <select name="listahermanos" id="listahermanos">
            <option value="default">--Seleccione--</option>
            {% for nombre in datos.listahermanos %}
            <option value="{{ nombre }}">{{ nombre }}</option>
            {% endfor %}
        </select>
        <label for="anoservicio">Año de servicio:</label>
        <p style="font-size: 0.8rem;">20<input type="text" id="anoservicio" name="anoservicio" required></p><br>
        <button id="buscainforme" name="buscainforme" value="buscainforme">Busca informe</button>
    </form>
    
    {% elif "datoshermanos" in datos %}
    <form class="formularioIngreso" method="post" action="{{ url_for('datoshermanos', aut=datos.aut) }}">
        <label for="listahermanos">Nombre del hermano(a)</label>
        <select name="listahermanos" id="listahermanos">
            <option value="default">--Seleccione--</option>
            {% for nombre in datos.listahermanos %}
            <option value="{{ nombre }}">{{ nombre }}</option>
            {% endfor %}
        </select>
        <button id="buscadatos" name="buscadatos" value="buscadatos">Busca datos</button>
        <button id="nuevoregistro" name="nuevoregistro" value="nuevoregistro">Nuevo registro</button>
    </form>

    <!-- FORMULARIO DE INGRESO DE INFORMES -->
    {% elif "ingresoinformes" in datos %}
    <form class="formularioIngreso" method="post" action="{{ url_for('ingresoInforme', aut=datos.aut) }}">
        <label for="anomes">Mes informe: <input type="text" name="anomes" placeholder="añomes ej. '2401'" required></label><br>
        <label for="nombre">Nombre del hermano(a): <select name="nombre" id="listahermanos"><br>
            <option value="default">--Seleccione--</option>
            {% for nombre in datos.listahermanos %}
            <option value="{{ nombre }}">{{ nombre }}</option>
            {% endfor %}
            </select></label>
        <label for="actividad">¿Participó en el ministerio?: <input type="checkbox" id="actividad" name="actividad" value=True></label><br>
        <label for="auxiliar">¿Precursor auxiliar?: <input type="checkbox" id="auxiliar" name="auxiliar" value=True></label><br>
        <label for="cursos">¿Cursos?: <input type="number" id="cursos" name="cursos" placeholder="diferentes cursos conducidos" required></label><br>
        <label for="horas">¿Horas?: <input type="number" id="horas" name="horas" placeholder="numero de horas" required></label><br>
        <label for="obs">Observaciones: <input type="text" id="observaciones" name="observaciones" placeholder="ingresa alguna observacion" value="ok"></label><br>
        <div>
          <button id="ingresainforme" name="ingresainforme" value="ingresainforme">ingresa informe</button>
        </div>
    </form>
    
    {% elif "nuevoregistro" in datos %}
    <form class="formularioIngreso" method="post" action="{{ url_for('nuevoregistro', ingreso=registrar, aut=datos.aut) }}">
      <div class="tituloscentrados">
        <p class="titulos">Formulario nuevo hermano</p><br>
      </div>
      <label for="nombre">Nombre: <input type="text" id="nombre" name="nombre"></label><br>
      <label for="estado">Estado: <input type="text" id="estado" name="estado" placeholder="Activo, inactivo, otro"></label><br>
      <label for="privilegio">Privilegio: <select name="privilegio" id="privilegios">
        <option value="default" disabled>--Seleccione--</option>
        {% for privilegio in datos.privilegios %}
        <option value="{{ privilegio }}">{{ privilegio }}</option>
        {% endfor %}
      </select></label>
      <label for="grupo">Grupo de servicio: <input style="width:20px" type="number" id="grupo" name="grupo"></label><br>
      <label for="fechanacimiento">Fecha de nacimiento: <input type="date" id="fechanacimiento" name="fechanacimiento"></label><br>
      <label for="fechabautismo">Fecha de bautismo: <input type="date" id="fechabautismo" name="fechabautismo"></label><br>
      <label for="genero">Género: <select name="genero" id="genero">
        <option value="hombre">hombre</option>
        <option value="mujer">mujer</option>
      </select></label>
      <label for="esperanza">Esperanza: <select name="esperanza" id="esperanza">
        <option value="oo">OO</option>
        <option value="ungido">ungido</option>
      </select></label>
      <label for="privilegioservicio">Privilegio de servicio: <select name="privilegioservicio" id="privilegioservicio">
        <option value="ninguno">ninguno</option>
        <option value="siervo ministerial">siervo ministerial</option>
        <option value="anciano">anciano</option>
      </select></label>
      <label for="meta">Meta hrs/mes: <input style="width:30px" type="number" id="meta" name="meta"></label><br>
      <label for="observacion">Observaciones: <input type="text" id="observacion" name="observacion"></label><br>
      <button type="submit" id="registra" name="registra" value="registra">Registrar</button>
    </form>
    {% endif %}
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
{% if "reporte" in datos %}
{% if datos.reporte.datos != 0 and datos.reporte.datos != [] %}
<table class="tbresultados">
    <thead>
        {% for dato in datos.reporte.encabezados %}
            <th>{{ dato }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for dato in datos.reporte.datos %}
            <tr>
            {% for fila in dato %}
                <td>{{ fila }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% elif datos.reporte.datos == 0 and datos.reporte.datos == [] %}
<p class="textosinformativos">>>>>>>>>>>>>>  SIN DATOS <<<<<<<<<<<<<<</p>
{% endif %}
{% if "ingresoinformes" in datos %}
<hr>
<br>
<form class="formularioIngreso" method="post" action="{{ url_for('ingresoInforme', aut=datos.aut) }}">
  <div class="confirmacioneliminacion">
    <button id="confirmarmes" name="confirmarmes" value="confirmarmes">Confirmar informes</button>
    <button id="eliminarecoleccion" name="eliminarecoleccion" value="eliminarecoleccion">Eliminar recoleccion actual</button>
    <label>Confirmo:<input type="checkbox" id="confirmar" name="confirmar" value="confirmado"></label>
  </div>
  <hr>
  <div>
    <label for="eliminarnombre">Eliminar informe: <select name="eliminarnombre" id="listahermanos"><br>
      <option value="default">--Seleccione--</option>
      {% for nombre in datos.nombresingresados %}
      <option value="{{ nombre }}">{{ nombre }}</option>
      {% endfor %}
      </select></label>
    <button id="btneliminanombre" name="btneliminanombre" value="btneliminanombre">Eliminar informe</button>
  </div>
</form>
{% endif %}
{% elif "datoshermanos" in datos and "data" in datos %}
<form class="formularioIngreso" action="{{ url_for('datoshermanos', aut=datos.aut) }}">
  <div class="btnmodifica">
    <button name="moddatos" value="moddatos" {{ datos.disablemodifica }}>Modificar</button>
    <button name="guardamod" value="guardamod" {{ datos.disableguarda }}>Guardar modificacion</button>
  </div>
  <label for="nombre"><strong>Nombre: </strong><input id="nombre" name="nombre" value="{{ datos.data.1 }}" {{ datos.editar }}></label><br>
  <label for="edad"><strong>Edad: </strong><input name="edad" value="{{ datos.data.12 }}" disabled></label><br>
  <label for="activo"><strong>Estado: </strong><input name="estado" value="{{ datos.data.2 }}" {{ datos.editar }}></label><br>
  <label for="privilegio"><strong>Privilegio: </strong><input name="privilegio" value="{{ datos.data.3 }}" {{ datos.editar }}></label><br>
  <label for="grupo"><strong>Grupo de servicio: </strong><input name="grupo" type="number" value="{{ datos.data.4 }}" {{ datos.editar }}></label><br>
  <label for="nacimiento"><strong>Fecha de nacimiento: </strong><input name="nacimiento" type="date" value="{{ datos.data.5 }}" {{ datos.editar }}></label><br>
  <label for="bautismo"><strong>Fecha de bautismo: </strong><input id="bautismo" name="bautismo" type="date" value="{{ datos.data.6 }}" {{ datos.editar }}></label><br>
  <label for="abautismo"><strong>Años de bautismo: </strong><input name="abautismo" type="number" value="{{ datos.data.13 }}" disabled></label><br>
  <label for="genero"><strong>Genero: </strong><input name="genero" value="{{ datos.data.7 }}" {{ datos.editar }}></label><br>
  <label for="esperanza"><strong>Esperanza: </strong><input name="esperanza" value="{{ datos.data.8 }}" {{ datos.editar }}></label><br>
  <label for="privilegioservicio"><strong>Privilegio de servicio: </strong><input name="privilegioservicio" value="{{ datos.data.9 }}" {{ datos.editar }}></label><br>
  <label for="meta"><strong>Meta horas/mes: </strong><input name="meta" value="{{ datos.data.10 }}" {{ datos.editar }}></label><br>
  <label for="observacion"><strong>Observaciones: </strong><input name="observacion" value="{{ datos.data.11 }}" {{ datos.editar }}></label><br>
  <label for="confirmar"><button name="eliminahermano" value="eliminahermano">Eliminar hermano</button>  -> Confirmar accion: <input type="checkbox" name="confirmar" value="confirmado"></label>
</form> 
{% endif %}
{% endblock %}
