<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Descripción breve de la página para SEO">
        <title>Mediclean Ruta (Isaias B)</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!--<link rel="icon" href="favicon.ico" type="image/x-icon"> -->
    </head>
<body>
    <header>
        <h1>MedicleanRuta</h1>
        <h2>{{ datos.tituloPagina }}</h2>
        <hr>
    </header>
    {% block body %}
    {% endblock %}
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
    <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>
