{% extends 'index.html' %}
{% block body %}
<h3>Stock actual:</h3><hr><br>
<div id="stock" class="lista"><h3>Cargando...</h3></div><br><hr>
{% if datos.rango == "admin" %}
    <form id="modificar-inv-btn" action="{{ url_for('inventario_modifica') }}" method="get">
        <button style="width: 50%; margin-left: 10px;">Modificar inventario</button><br>
    </form>
{% endif %}
<div id="tablaRegistros" class="tabla"></div><br><hr><br>
{% endblock %}
{% block script %}
    <script type="module" src="{{ url_for('static', filename='inventario.js') }}"></script>
{% endblock %}
