{% extends 'layout.html' %}

{% block encabezado %}
     <h1>Mediclean Ruta</h1>
     <h2>Gestor de inventarios</h2>
     <h2>(Registro historicos e inventario actual)</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
<div class="tabla-contenedor">
<p>Stock actual:</p>
<table class="tbresultados">
     <tbody>
          {% for columna, data in datos.stockActual.items() %}
               <tr>
                   <td>{{ data.encabezado }}</td>
                   {% if data.dato == "None" %}
                   <td>{{ data.dato }} unidades</td>
                   {% else %}
                   <td>Sin stock</td>
                   {% endif %}
               </tr>
          {% endfor %}
     </tbody>
</table>
<form class="formularioIngreso" action="{{ url_for('inventarios', aut=datos.aut) }}" method="post">
    <label for="ajuste_stock">Ajuste de stock:
        <input name="ajuste_stock" placeholder="Ingresa una cantidad" required>
    </label>
    <label for="insumo">Insumo:
        <select name="insumo" required>
            <option value="" selected>-- Selecciona --</option>
            {% for columna, data in datos.stockActual.items() %}
            <option value="{{ columna }}">{{ data.encabezado }}</option>
            {% endfor %}
        </select>
    </label>
    <button name="actualiza_stock_insummo">Ajustar stock</button>
</form>
</div>
<hr>
<form class="formularioIngreso" action="{{ url_for('inventarios', aut=datos.aut) }}" method="post">
     <button name="nuevoinventario">Nuevo inventario</button>
</form>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
<p>Listado de inventaios</p>
<table class="tbresultados">
     <thead>
          <th>Accion</th>
          {% for item in datos.listainventarios.encabezados %}
               <th>{{ item }}</th>
          {% endfor %}
     </thead>
     <tbody>
          {% for fila in datos.listainventarios.datos %}
               <tr>
                    <td>
                         <form action="{{ url_for('inventarios', aut=datos.aut) }}" method="post">
                              <button name="modificarinventario">Modifica</button>
                              <button name="eliminainventario">Elimina</button>
                         </form>
                    </td>
                    {% for dato in fila %}
                         <td>{{ dato }}</td>
                    {% endfor %}
               </tr>
          {% endfor %}
     </tbody>
</table>
{% endblock %}
