<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="shorcut icon" href=""> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>Gestor de ruta MEDICLEAN (Isaias B.)</title>
    <div class="encabezado">
        <a href="{{ url_for('index', aut=datos.aut) }}"><img src="{{ url_for('static', filename='img/icono.jpg') }}"></a>
        <div class="titulosEncabezados">
            {% block encabezado %}
            {% endblock %}
        </div>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <nav class="botoneraMenu">
        <form method="post" action="{{ url_for('clientes', aut=datos.aut) }}">
            <button class="botonanimado" id="clientes" name="clientes" value="clientes">Clientes</button>
        </form>
        <form method="post" action="{{ url_for('rutaactual', aut=datos.aut) }}">
            <button class="botonanimado" id="rutaactual" name="rutaactual" value="rutaactual">Ruta actual</button>
        </form>
        <form method="post" action="{{ url_for('rutas', aut=datos.aut) }}">
            <button class="botonanimado" id="rutas" name="rutas" value="rutas">Rutas</button>
        </form>
        <!-- <form>
            <button class="botonanimado" id="gastos" name="gastos" value="gastos" disabled>Gastos</button>
        </form> -->
        {% if datos.usuario == "iberoiza" or datos.usuario == "mjose" %}
            <form method="post" action="{{ url_for('todo', aut=datos.aut) }}">
                <button class="botonanimado" id="todo" name="todo" value="todo">ToDo</button>
            </form>
        {% endif %}
        {% if datos.usuario == "iberoiza" %}
            <form method="post" action="{{ url_for('usersactives', aut=datos.aut) }}">
                <button class="botonanimado" id="usuariosactivos" name="usuariosactivos" value="usuariosactivos">Users actives</button>
            </form>
            <form method="post" action="{{ url_for('codex1', aut=datos.aut) }}">
                <button class="botonanimado" name="codex1">Codex1</button>
            </form>
            <form method="post" action="{{ url_for('codex2', aut=datos.aut) }}">
                <button class="botonanimado" name="codex2">Codex2</button>
            </form>
        {% endif %}
        <form method="post" action="{{ url_for('logout', aut=datos.aut) }}">
            <button class="botonanimado" id="cierrasesion" name="cierrasesion" value="cierrasesion">Cerrar sesion</button>
        </form>
    </nav>
</head>
<body>
    <div class="body_a">
        {% block body_a %}
        {% endblock %}
    </div>
    <div class="body_b">
        {% block body_b %}
        {% endblock %}
    </div>
    {% if "alerta" in datos %}
        <script>alerta("{{ datos.alerta }}")</script>
    {% endif %}
    {{ datos }}
</body>
</html>