{% extends 'layout.html' %}

{% block encabezado %}
        <h1>Mediclean Ruta</h1>
        <h2>NUEVO CLIENTE</h2>
{% endblock %}

<!-- ------------------- BODY A ----------------------------- -->

{% block body_a %}
  <h2>Formulario ingreso nuevo cliente</h2><hr>
  <form name="nuevosdatos" class="formularioIngreso" method="post" action="{{ url_for('clientes', aut=datos.aut) }}">
    <label for="nombre">Nombre:</label><br>
    <input name="nombre" placeholder="Nombre completo del cliente" required><br>
    <label for="rut">RUT:</label><br>
    <input name="rut" placeholder="12345678-9" required><br>
    <label for="direccion">Direccion:</label><br>
    <input name="direccion" placeholder="Direccion" required><br>
    <label for="comuna">Comuna:</label><br>
    <input name="comuna" placeholder="Comuna" required><br>
    <label for="telefono">Telefono:</label><br>
    <input type="number" name="telefono" placeholder="Telefono"><br>
    <label for="gps">Coordenadas GPS:</label><br>
    <input name="gps" placeholder="Coordenadas GPS"><br>
    <label for="contrato">Contrato lapso tiempo:</label><br>
    <input type="number" name="contrato" placeholder="N° de dias lapso contratado"><br>
    <label for="otros">Otros:</label><br>
    <input name="otros" placeholder="otros..."><br><hr>
    <button name="guardanuevocliente" value="guarda">Graba cliente</button>
    
  </form>
{% endblock %}

<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
{% endblock %}
