{% extends 'layout.html' %}

{% block encabezado %}
     <h1>Mediclean Ruta</h1>
     <h2>Ingresar inventario</h2>
     <h2>(Ingreso)</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
<p>Ingreso inventario</p>
<!-- action="{{ url_for('inventarios', aut=datos.aut) }}" method="post" -->
<form id="formularioinv" action="{{ url_for('inventarios', aut=datos.aut) }}" method="post">
     <label for="fecha">Fecha: <br> <input type="date" name="fecha"></label><br>
{% for elemento,nombre in datos.elementos.items() %}
     <label for="{{ elemento }}">{{ nombre }}: <br>
          <input type="number" name="{{ elemento }}" id="actual_{{ elemento }}" value="0" style="width: 35px;">
          <input type="number" name="sumar_{{ elemento }}" id="sumar_{{ elemento }}" style="width: 35px;">
          <button id=suma onclick="calcular('actual_{{ elemento }}','sumar_{{ elemento }}')">+</button>
     </label><br>
{% endfor %}
     <br>
     <button type="submit" name="enviarinventario">Enviar inventario</button>
     <script>
          function calcular(cantidadActual,cantidadSumar){
               const valoractual = document.getElementById(cantidadActual);
               const valorsumando = document.getElementById(cantidadSumar);
               const sumatoria = calcula_inventario(cantidadActual, cantidadSumar);
               valoractual.value = sumatoria;
               valorsumando.value = "";
          }
     </script>
</form>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
{% endblock %}
