{% extends 'layout.html' %}

{% block encabezado %}
     <h1>Mediclean Ruta</h1>
     <h2>Administrador de ruta</h2>
     <h2>({{ datos.nombrePagina }})</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
    <form class="formularioIngreso" method="post" action="{{ url_for('rutaactual', aut=datos.aut) }}">
        {% for campo, dato in datos.formulario_confpos.items()  %}
        <div class="form-field">
        <label for="{{ campo }}"
            {% if "ROJ" in dato["encabezado"] %}
               style="color: red;"
            {% elif "AMARILL" in dato["encabezado"] %}
               style="background: yellow;"
            {% endif %}>
            {{ dato["encabezado"] }}
        </label>
	    <input name="{{ campo }}" 
            {% if dato["dato"] %}
            value="{{ dato['dato'] }}" readonly
            {% endif %}>
        {% endfor %}
        </div>
        <div class="form-field">
        <button>{{ datos.botonconfpos }}</button>
        </div>
    </form>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}

{% endblock %}
