{% extends 'layout.html' %}

{% block encabezado %}
    <h1>Mediclean Ruta</h1>
    <h2>Administrador de ruta</h2>
    <h2>(Visor y editor de ruta guardada)</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
<div class="tabla-contenedor">
    <p class="titulos">{{ datos.rutanombre }}</p> 
    <hr>
    {% if datos.rutaResultado %}
    <table class="tbresultados">
    <thead>
        <th>Acciones</th>
        {% for dato in datos.rutaResultado.encabezados %}
            <th>
                {{ dato }}
            </th>
        {% endfor %}
    </thead>
    <tbody>
        {% for fila in datos.rutaResultado.datos %}
            <tr
                {% if fila.8 != None %} 
                    {% if fila.10 == "POSPUESTO" %} 
                         style="background-color: red;" 
                    {% elif fila.8 == "FASE_ELIMINACION" %}
                         style="background-color: yellow;" 
                    {% elif "ELIMINADO" in fila.8 %}
                         style="background-color: gray;" 
                    {% endif %}
                {% endif %}
                >
                    <td>
                        <form action="{{ url_for('rutas', aut=datos.aut) }}" method="post">
                            <button name="disposicion_final" value="{{ fila[-1] }}">DISP-FINAL</button>
                            <button name="modifica_registro" value="{{ fila[-1] }}">MOD</button>
                            <button name="elimina_cliente_registro" value="{{ fila[-1] }}">DEL</button>
                        </form>
                    </td>
                {% for data in fila %}
                    {% if data == "0" or data == None %}
                        <td>-</td>
                    {% else %}
                        <td>{{ data }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
    <p class="titulos">SIN DATOS AUN</p>
    {% endif %}
</div>    
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
    <p class="titulos">Resumen de ruta {{ datos.rutanombre }}</p> 
    <hr>    
    <div class="tabla-contenedor">
        <table class="tbresultados">
        <thead>
            {% for campo in datos.datosruta.encabezados %}
                <th>
                    {{ campo }}
                </th>
            {% endfor %}
        </thead>
        <tbody>
            {% for fila in datos.datosruta.datos %}
                <tr>
                    {% for data in fila %}
                        {% if data == "0" or data == None %}
                            <td>-</td>
                        {% else %}
                            <td>{{ data }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <hr>
    <p>Kilos totales</p>
    <ul>
        <li>Farmaco: {{ datos.itemskg.farmaco }}kg</li>
        <li>Patologico: {{ datos.itemskg.patologico }}kg</li>
        <li>Contaminado: {{ datos.itemskg.contaminado }}kg</li>
        <li>Cortopunzante: {{ datos.itemskg.cortopunzante }}kg</li>
        <li>Otro Peligroso: {{ datos.itemskg.otropeligroso }}kg</li>
        <li>Liquido RX: {{ datos.itemskg.liquidorx }}kg</li>
    </ul>
    {% if datos.insumos_usados %}
    <hr>
        <p>Insumos ocupados en esta ruta:</p>
        <ul>
            {% for elemento, valor in datos.insumos_usados.items() %}
            <li>{{ elemento }}: {{ valor }} un</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
