{% extends 'layout.html' %}

{% block encabezado %}
    <h1>Mediclean Ruta</h1>
    <h2>Administrador de ruta</h2>
    <h2>(Visor y editor de ruta guardada)</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
<div class="tabla-contenedor">
    <p class="tituloscentrados">Ruta seleccionada: {{ datos.fecha }}</p> 
    <hr>
    <table class="tbresultados">
    <thead>
        {% for dato in datos.rutaResultado.encabezados %}
            <th>
                {{ dato }}
            </th>
        {% endfor %}
        <th>IDX</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        {% for fila in datos.rutaResultado.datos %}
            <tr
                {% if fila.8 != None %} 
                    {% if fila.10 == "POSPUESTO" %} 
                         style="background-color: red;" 
                    {% elif fila.8 == "FASE_ELIMINACION" %}
                         style="background-color: yellow;" 
                    {% elif "ELIMINADO" in fila.8 %}
                         style="background-color: gray;" 
                    {% endif %}
                {% endif %}>
                {% for data in fila %}
                    <td>{{ data }}</td>
                {% endfor %}
                    <td>
                        <form action="{{ url_for('rutas', aut=datos.aut) }}" method="post">
                            <button name="agrega_eliminacion" value="{{ fila[-1] }}">ELIM</button>
                        </form>
                    </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <hr>
</div>    
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
    <p>Kilos totales</p>
    <ul>
        <li>Farmaco: {{ datos.itemskg.farmaco }}kg</li>
        <li>Patologico: {{ datos.itemskg.patologico }}kg</li>
        <li>Contaminado: {{ datos.itemskg.contaminado }}kg</li>
        <li>Cortopunzante: {{ datos.itemskg.cortopunzante }}kg</li>
        <li>Otro Peligroso: {{ datos.itemskg.otropeligroso }}kg</li>
        <li>Liquido RX: {{ datos.itemskg.liquidorx }}kg</li>
    </ul>
{% if "rutaResultado" in datos %}
    {% if datos.fecha %}
        <p>Insumos ocupados en esta ruta:</p>
        <ul>
            {% for elemento in datos.insumos_usados %}
            <li>{{ elemento }}: {{ datos.insumos_usados[elemento] }}un</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
{% endblock %}
