{% extends 'layout.html' %}

{% block encabezado %}
     <h1>Mediclean Ruta</h1>
     <h2>Nueva ruta</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
<span class="titulos">Nueva ruta</span>
<form class="formularioIngreso" method="post" action="{{ url_for('rutaactual', aut=datos.aut) }}">
     <div class="form-field">
          <label for="fecha">Fecha de ruta:</label>
          <input name="fecha" type="date" required>
     </div>
     <div class="form-field">
          <label for="nombreruta">Nombre de ruta:</label>
          <input name="nombreruta" type="text" placeholder="Ruta: Osorno-Purranque" required>
     </div>
     {% if datos.pagina_respuesta %}
          <input type="text" name="pagina_respuesta" value="{{ datos.pagina_respuesta }}" hidden>
     {% endif %}
     <button type="submit" name="iniciaruta">Genera ruta</button>
</form>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
{% endblock %}
