{% extends 'layout.html' %}

{% block encabezado %}
     <h1>Mediclean Ruta</h1>
     <h2>Administrador de ruta</h2>
     <h2>(Registro historico de rutas)</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
{% if "rutaLista" in datos %}
          <p class="tituloscentrados">{{ datos.ruta }}</p>
          <hr>
          <table class="tbresultados">
          <thead>
                    <th>DETALLES</th>
               {% for dato in datos.rutaLista.encabezados %}
                    <th>{{ dato }}</th>
               {% endfor %}
          </thead>
          <tbody>
               {% for fila in datos.rutaLista.datos %}
                    <tr>
                    <td>
                         <form method="post">
                              <button type="submit" name="detalle_ruta_registro" value="{{ fila.0 }}" style="width: 95px;">Detalle</button>
                         </form>
                    </td>
                    {% for data in fila %}
                         <td>{{ data }}</td>
                    {% endfor %}
                    </tr>
               {% endfor %}
          </tbody>
          </table>
{% endif %}
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
{% if "rutaResultado" in datos %}
     <p class="tituloscentrados">{{ datos.fecha }}</p>
     <hr>
     <table class="tbresultados">
     <thead>
          {% for dato in datos.encabezados %}
               <th>{{ dato }}</th>
          {% endfor %}
     </thead>
     <tbody>
          {% for fila in datos.rutaResultado %}
               <tr>
               {% for data in fila %}
                    <td>{{ data }}</td>
               {% endfor %}
               </tr>
          {% endfor %}
     </tbody>
     </table>
{% endif %}
{% endblock %}
