{% extends 'layout.html' %}

{% block encabezado %}
    <h1>Mediclean Ruta</h1>
    <h2>Administrador de ruta</h2>
    <h2>(Registro historico de rutas)</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
     <form name="buscarutas" class="formularioIngreso" method="post" action="{{ url_for('rutas', aut=datos.aut) }}">
          <div class="buscadorclientes">
               <label for="rutas_registradas">Rutas registradas:
                    <select name="rutas_registradas" required>
                         <option value="" selected>-Selecciona-</option>
                         {% for ruta in datos.rutas_lista %}
                         <option value="{{ ruta[-1] }}">{{ ruta[0] }} - {{ ruta[1] }}</option>
                         {% endfor %}
                    </select>
               </label>
               <button name="detalle_ruta_registro" type="submit">Buscar</button>
          </div>
     </form>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
{% endblock %}
