{% extends 'layout.html' %}

{% block encabezado %}
     <h1>Mediclean Ruta</h1>
     <h2>Administrador de ruta</h2>
     <h2>(Registro historico de rutas)</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
{% if "rutaLista" in datos %}
          <p class="tituloscentrados">{{ datos.ruta }}</p>
          <hr>
          <form action="{{ url_for('rutas', aut=datos.aut) }}" method="post">
               <button name="lista_eliminacion" value="lista_eliminacion">Lista eliminacion</button>
               <button name="eliminar_desechos" value="eliminar_desechos">Eliminar desechos</button>
               <button name="cancelar_eliminacion" value="cancelar_eliminacion">Cancelar eliminacion</button>
          </form>
          <hr>
          <table class="tbresultados">
          <thead>
                    <th>DETALLES</th>
               {% for dato in datos.rutaLista.encabezados %}
                    <th>{{ dato }}</th>
               {% endfor %}
          </thead>
          <tbody>
               {% for fila in datos.rutaLista.datos %}
                    <tr {% if fila.0 == datos.fecha %} style="background-color: yellowgreen;" {% endif %}>
                    <td>
                         <form method="post" action="{{ url_for('rutas', aut=datos.aut) }}">
                              <button type="submit" name="detalle_ruta_registro" value="{{ fila.0 }}" style="width: 95px;">Detalle</button>
                         </form>
                    </td>
                    {% for data in fila %}
                         <td>{{ data }}</td>
                    {% endfor %}
                    </tr>
               {% endfor %}
          </tbody>
          </table>
{% endif %}
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
{% if "rutaResultado" in datos %}
     {% if datos.fecha %}
     <p class="tituloscentrados">Ruta seleccionada: {{ datos.fecha }}</p> 
     <p>Kilos totales</p>
     <ul>
          <li>Farmaco: {{ datos.itemskg.farmaco }}kg</li>
          <li>Patologico: {{ datos.itemskg.patologico }}kg</li>
          <li>Contaminado: {{ datos.itemskg.contaminado }}kg</li>
          <li>Cortopunzante: {{ datos.itemskg.cortopunzante }}kg</li>
          <li>Otro Peligroso: {{ datos.itemskg.cortopunzante }}kg</li>
          <li>Liquido RX: {{ datos.itemskg.liquidorx }}kg</li>
     </ul>
     {% endif %}
     <hr>
     <table class="tbresultados">
     <thead>
          {% for dato in datos.encabezados %}
               <th>{{ dato }}</th>
          {% endfor %}
          <th>IDX</th>
          <th>Acciones</th>
     </thead>
     <tbody>
          {% for fila in datos.rutaResultado %}
               <tr
               {% if fila.8 != None %} 
                    {% if fila.10 == "POSPUESTO" %} 
                         style="background-color: red;" 
                    {% elif fila.8 == "FASE_ELIMINACION" %}
                         style="background-color: yellow;" 
                    {% elif "ELIMINADO" in fila.8 %}
                         style="background-color: gray;" 
                    {% endif %}
               {% endif %}>
               {% for data in fila %}
                    <td>{{ data }}</td>
               {% endfor %}
                    <td>
                         <form action="{{ url_for('rutas', aut=datos.aut) }}" method="post">
                              <button name="agrega_eliminacion" value="{{ fila.18 }}">ELIM</button>
                         </form>
                    </td>
               </tr>
          {% endfor %}
     </tbody>
     </table>
{% endif %}
{% endblock %}
