{% extends 'layout.html' %}

{% block encabezado %}
     <h1>Mediclean Ruta</h1>
     <h2>Administrador de ruta</h2>
     <h2>({{ datos.nombrePagina }})</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
          <p class="tituloscentrados">Ruta activa:{{ datos.ruta }}</p>
          <hr>
	  <div class="tabla-contenedor">
	  <table class="tbresultados">
          <thead>
               {% for dato in datos.rutaLista.encabezados %}
                    <th>{{ dato }}</th>
               {% endfor %}
                    <th>ACCIONES</th>
          </thead>
          <tbody>
               {% for fila in datos.rutaLista.datos %}
                    <tr {% if "DEUDA" in fila.10 or "deuda" in fila.10 or "RETIRO EN CAMINO" in fila.10 or "APLAZADO" in fila.10 %} 
                         {% if "RETIRO EN CAMINO" in fila.7 %}
                              style="background-color: lightgreen;" 
                         {% elif "APLAZADO" in fila.7 %}
                              style="background-color: cornflowerblue;" 
                         {% else %}
                              style="background-color: pink;" 
                         {% endif %}
                    {% endif %}>
                    {% for data in fila %}
                         <td>{{ data }}</td>
                    {% endfor %}
                    <td>
                         <form method="post" action="{{ url_for('rutaactual', aut=datos.aut) }}" style="display:flex">
                              <button type="submit" name="enCamino" value="{{ fila.0 }}" style="height: 50px" {{ datos.cpEnabled }}>
                                   {% if "RETIRO EN CAMINO" in fila.7 %}
                                        APLAZ
                                   {% elif "APLAZADO" in fila.7 %}
                                        DESM
                                   {% else %}
                                        ENCAM
                                   {% endif %}
                              </button>
                              <button type="submit" name="cliente_ruta_confirmar" value="{{ fila.0 }}" style="height: 50px" {{ datos.cpEnabled }}>CONF</button>
                              <button type="submit" name="cliente_ruta_posponer" value="{{ fila.0 }}" style="height: 50px" {{ datos.cpEnabled }}>POSP</button>
                         </form>
                    </td>
                    </tr>
               {% endfor %}
          </tbody>
          </table>
	  </div>
          <form name="finruta" method="post" action="{{ url_for('rutaactual', aut=datos.aut) }}">
               <br><hr>
               <button class="botonanimado" name="finalizaRutaActual" value="finalizar" {{ datos.finEnabled }}>Finalizar ruta actual</button>
          </form>
          <div id="ordenaruta">
               <form class="formularioIngreso" name="ordenaRuta" method="post" action="{{ url_for('rutaactual', aut=datos.aut) }}">
                    <label for="uboriginal">Numero a mover: <input type="number" name="uboriginal" style="width: 50px;" {{ datos.reubicarEnabled }}></label>
                    <label for="ubdestino">Posicion destino: <input type="number" name="ubdestino" style="width: 50px;" {{ datos.reubicarEnabled }}></label>
                    <button class="botonanimado" name="reubicar" value="reubicar" {{ datos.reubicarEnabled }}>Mover posicion cliente</button>
               </form>
          </div>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
{% if datos.ruta %}
<label class="formularioIngreso" for="clientemanual">Agragar cliente manual</label>
<form class="formularioIngreso" name="clientemanual" method="post" action="{{ url_for('rutaactual', aut=datos.aut) }}">
     <label for="rut">Rut:</label>
     <input name="rut" type="text" value="9999" required>
     <label for="cliente">Nombre:</label>
     <input name="cliente" type="text" placeholder="Nombre del cliente" required>
     <label for="direccion">Direccion: </label>
     <input name="direccion" type="text" placeholder="Direccion del cliente" required>
     <label for="comuna">Comuna: </label>
     <input name="comuna" type="text" placeholder="Comuna del cliente" required>
     <label for="telefono">Telefono: </label>
     <input name="telefono" type="number" placeholder="Numero de contacto">
     <label for="contrato">Contrato: </label>
     <input name="contrato" type="text" value="60">
     <label for="otro">Otro: </label>
     <input name="otro" type="text" placeholder="Alguna observacion como horario u otro">
     <button type="submit" name="agregaclientemanual" value="{{ datos.rutaActiva }}" {{ datos.inirutaEnabled }}>Agrega cliente manual</button>
</form>
{% endif %}
{% endblock %}
