{% extends 'layout.html' %}

{% block encabezado %}
     <h1>Mediclean Ruta</h1>
     <h2>Administrador de ruta</h2>
     <h2>Agregar cliente manual</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
<form class="formularioIngreso" name="clientemanual" method="post" action="{{ url_for('rutaactual', aut=datos.aut) }}">
     <p class="titulos">Agregar cliente manual</p>
     {% for columna, data in datos["clte_manual"].items() %}
     <div class="form-field">
         <label for="{{ columna }}">{{ data.encabezado }}
             <input type="{{ data.tipodato }}" name="{{ columna }}" {{ data.required }}>
     </label>
     </div>
     {% endfor %}
     <button type="submit" name="agrega_cliente_manual" value="form_ok">Agrega cliente manual</button>
</form>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
{% endblock %}
