{% extends 'layout.html' %}

{% block encabezado %}
        <h1>Mediclean Ruta</h1>
        <h2>Administrador de ruta</h2>
        <h3>(Ruta actual {{ datos.fecharuta }})</h3>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
{% if "listaclientes" in datos %}
     {% if datos.listaclientes.datos != 0 and datos.listaclientes.datos != [] %}
          <table class="tbresultados">
          <thead>
                    <th>Realizado</th>
               {% for dato in datos.listaclientes.encabezados %}
                    <th>{{ dato }}</th>
               {% endfor %}
          </thead>
          <tbody>
               {% for fila in datos.listaclientes.datos %}
                    <tr>
                    <td>
                      <form action="{{ url_for('ruta', aut=datos.aut) }}" method="post">
                        <button type="submit" name="cliente_confirmar" value="{{ fila.0 }}">Realizado</button>
                      </form>
                    </td>
                    {% for data in fila %}
                         <td>{{ data }}</td>
                    {% endfor %}
                    </tr>
               {% endfor %}
          </tbody>
          </table>
     {% elif datos.listaclientes.datos == 0 or datos.listaclientes.datos == [] %}
          <p class="textosinformativos">>>>>>>>>>>>>>  SIN DATOS <<<<<<<<<<<<<<</p>
     {% endif %}
     <br><hr><br>
{% elif "nuevaruta" in datos %}
     <h2 class="encabezado">Nueva ruta</h2>
     <br><hr><br>
     <form name="nuevaruta" class="formularioIngreso" action="{{ url_for('rutas',aut=datos.aut) }}" method="post">
          <label for="fecha">Fecha: 
               <input type="date" name="fecha">
          </label>
          <label for="nombreruta">Nombre ruta: 
               <input type="text" name="nombreruta" placeholder="ej: Ruta Osorno-Puerto Montt-Llanquihue">
          </label>
          <br>
          <button type="submit" name="iniciaruta" value="iniciaruta">Iniciar ruta:</button>
     </form>
{% endif %}
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}

{% endblock %}
