{% extends 'layout.html' %}

{% block encabezado %}
    <h1>Mediclean Ruta</h1>
    <h2>Administrador de ruta</h2>
    <h2>(Registro historico de rutas)</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
     <form name="buscarutas" class="formularioIngreso" method="post" action="{{ url_for('rutas', aut=datos.aut) }}">
          <div class="buscadorclientes">
               <label for="rutas_registradas">Rutas registradas:
                    <select name="rutas_registradas" required>
                         <option value="" selected>-Selecciona-</option>
                         {% for ruta in datos.rutas_lista %}
                         <option value="{{ ruta[-1] }}">{{ ruta[0] }} - {{ ruta[1] }}</option>
                         {% endfor %}
                    </select>
               </label>
               <button name="buscacliente" type="submit" value="buscacliente">Buscar</button>
          </div>
     </form>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
{% if "rutaResultado" in datos %}
        <p class="tituloscentrados">{{ datos.ruta }}</p>
        <hr>
        <form action="{{ url_for('rutas', aut=datos.aut) }}" method="post">
            <button name="lista_eliminacion" value="lista_eliminacion" style="height: 70px;">Lista eliminacion</button>
            <button name="eliminar_desechos" value="eliminar_desechos" style="height: 70px;">Eliminar desechos</button>
            <button name="cancelar_eliminacion" value="cancelar_eliminacion" style="height: 70px;">Cancelar eliminacion</button>
        </form>
        <hr>
        <div class="tabla-contenedor">
        <table class="tbresultados">
        <thead>
            <th>DETALLES</th>
            {% for dato in datos.rutaLista.encabezados %}
                <th>{{ dato }}</th>
            {% endfor %}
            <th>DISPOSICION FINAL</th>
        </thead>
        <tbody>
            {% for fila in datos.rutaLista.datos %}
                    <tr {% if fila.0 == datos.fecha %} style="background-color: yellowgreen;" {% endif %}>
                        <td>
                            <form method="post" action="{{ url_for('rutas', aut=datos.aut) }}">
                                <button type="submit" name="detalle_ruta_registro" value="{{ fila.0 }}" style="width: 95px;">Detalle</button>
                            </form>
                        </td>
                        {% for data in fila %}
                            <td>
                                {% if data == "0" or data == None %}
                                    -
                                {% else %}
                                    {{ data }}
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td>
                            <form method="post" action="{{ url_for('rutas', aut=datos.aut) }}">
                                <button type="submit" name="eliminar_ruta" value="{{ fila.0 }}" style="width: 95px;">Eliminacion</button>
                            </form>
                        </td>
                    </tr>
            {% endfor %}
          </tbody>
          </table>
          </div>
{% endblock %}
