{% extends 'layout.html' %}

{% block encabezado %}
     <h1>Mediclean Ruta</h1>
     <h2>Administrador de ruta</h2>
     <h3>(Registro historico de rutas)</h3>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
{% if "rutaLista" in datos %}
     {% if datos.ruta != None %}
          <p class="tituloscentrados">{{ datos.ruta }}</p>
          <hr>
          <table class="tbresultados">
          <thead>
                    <th>DETALLES</th>
               {% for dato in datos.rutaLista.encabezados %}
                    <th>{{ dato }}</th>
               {% endfor %}
          </thead>
          <tbody>
               {% for fila in datos.rutaLista.datos %}
                    <tr>
                    <td>
                         <form method="post">
                              <button type="submit" name="detalle_ruta_registro" value="{{ fila.2 }}" style="width: 95px;">Detalle</button>
                         </form>
                    </td>
                    {% for data in fila %}
                         <td>{{ data }}</td>
                    {% endfor %}
                    </tr>
               {% endfor %}
          </tbody>
          </table>
          <form name="finruta" method="post">
               <br><hr>
               <button class="botonanimado" name="finalizaRutaActual" value="finalizar">Finalizar ruta actual</button>
          </form>
     {% elif datos.rutaLista.datos == 0 or datos.rutaLista.datos == [] %}
          <p class="textosinformativos">>>>>>>>>>>>>>  SIN DATOS <<<<<<<<<<<<<<</p>
          <br><hr><br>
          <h2 class="encabezado">Nueva ruta</h2>
          <br><hr><br>
          </form><form name="nuevaruta" class="formularioIngreso" method="post">
               <label for="fecha">Fecha: 
                    <input type="date" name="fecha">
               </label>
               <label for="nombreruta">Nombre ruta: 
                    <input type="text" name="nombreruta" placeholder="ej: Ruta Osorno-Puerto Montt-Llanquihue">
               </label>
               <br>
               <button type="submit" name="iniciaruta" value="iniciaruta">Iniciar ruta:</button>
          </form>
     {% endif %}
     <br><hr><br>
{% elif "nuevaruta" in datos %}
     <h2 class="encabezado">Nueva ruta</h2>
     <br><hr><br>
     <form name="nuevaruta" class="formularioIngreso" method="post">
          <label for="fecha">Fecha: 
               <input type="date" name="fecha">
          </label>
          <label for="nombreruta">Nombre ruta: 
               <input type="text" name="nombreruta" placeholder="ej: Ruta Osorno-Puerto Montt-Llanquihue">
          </label>
          <br>
          <button type="submit" name="iniciaruta" value="iniciaruta">Iniciar ruta:</button>
{% endif %}
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}

{% endblock %}
