{% extends 'st_layout.html' %}

{% block encabezado %}
        <h1>SUBLITOTE</h1>
        <h2>Administrador de taller</h2>
{% endblock %}

<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
    <p>Login</p>
    <form name="login" class="formularioIngreso" method="post" action="{{ url_for('login') }}">
      <label for="user"><input name="user" type="text" placeholder="usuario" required="obligatorio"></label>
      <label for="contrasena"><input name="contrasena" type="password" required="obligatorio"></label>
      <button name="logueo" type="submit" value="evalua">Login</button>
    </form>
{% endblock %}

<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}

{% endblock %}
