{% extends 'st_layout.html' %}
{% block encabezado %}
        <h1>SUBLITOTE</h1>
        <h2>Cotizacion</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
<h3>Cotizacion:{% if not datos.numcotizacion %}
        -- sin cotizacion vigente --
        <form method="post" action="{{ url_for('cotizacion', aut=datos.aut) }}">
                <button name="creacotizacion">Crea cotizacion</button>
        </form>
        {% else %}
        {{ datos.numcotizacion }}
        <form method="post" action="{{ url_for('cotizacion', aut=datos.aut) }}">
                <button name="eliminacotizacion">Elimina cotizacion</button>
                
        </form>
        <form method="post" action="{{ url_for('cotizacion', aut=datos.aut) }}">
                <button name="guardacotizacion" value="{{ datos.numcotizacion }}">Guarda cotizacion</button>
                <label>Descripcion: <input name="descripcion" {% if "descripcion" in datos %}value="{{ datos.descripcion }}" placeholder="{{ datos.descripcion }}" {% endif %} required></label>
                {% if "descripcion" in datos %}<input type="text" name="modificacion" value="{{ datos.numcotizacion }}" hidden>{% endif %}
        </form>
        {% endif %}
</h3>
<hr>
<h3>Total: <strong>{{ datos.totalcotizacion }}</strong></h3>
<table class="tbresultados">
        <thead>
                {% for encabezado in datos.listacotizacion.encabezados %}
                        <th>{{ encabezado }}</th>
                {% endfor %}
        </thead>
        <tbody>
                {% for producto in datos.listacotizacion.datos %}
                        <tr>
                                {% for dato in producto %}
                                        <td>{{ dato }}</td>
                                {% endfor %}
                                <td>
                                        <form method="post" action="{{ url_for('cotizacion', aut=datos.aut) }}">
                                                <button name="eliminaitem" value="{{ producto.0 }}">Eliminar</button>
                                        </form>
                                </td>
                        </tr>
                {% endfor %}
        </tbody>

</table>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}

{% endblock %}
