{% extends 'st_layout.html' %}

{% block encabezado %}
     <h1>SUBLITOTE</h1>
     <h2>BD Cotizaciones</h2>
     <h2>(Registro cotizaciones guardadas)</h2>
{% endblock %}
<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
{% if "listaCotizaciones" in datos %}
          <p class="tituloscentrados">Cotizaciones guardadas</p>
          <hr>
          <table class="tbresultados">
          <thead>
               {% for dato in datos.listaCotizaciones.encabezados %}
                    <th>{{ dato }}</th>
               {% endfor %}
                    <th>ACCIONES</th>
          </thead>
          <tbody>
               {% for fila in datos.listaCotizaciones.datos %}
                    <tr>
                    {% for data in fila %}
                         <td>{{ data }}</td>
                    {% endfor %}
                    <td>
                         <form method="post" action="{{ url_for('cotizacionesbd', aut=datos.aut) }}">
                              <button type="submit" name="mostrarcotizacion" value="{{ fila.0 }}" style="width: 95px;">Mostrar</button>
                              <button type="submit" name="modificarcotizacion" value="{{ fila.0 }}" style="width: 95px;">Modificar</button>
                              <button type="submit" name="borrarcotizacion" value="{{ fila.0 }}" style="width: 95px;">Borrar</button>
                         </form>
                    </td>
                    </tr>
               {% endfor %}
          </tbody>
          </table>
{% endif %}
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
{% if "detallescotizacion" in datos %}
     <table class="tbresultados">
     <thead>
          {% for dato in datos.detallescotizacion.encabezados %}
               <th>{{ dato }}</th>
          {% endfor %}
     </thead>
     <tbody>
          {% for fila in datos.detallescotizacion.datos %}
               <tr>
               {% for data in fila %}
                    <td>{{ data }}</td>
               {% endfor %}
               </tr>
          {% endfor %}
     </tbody>
     </table>
{% endif %}
{% endblock %}
