{% extends 'st_layout.html' %}

{% block encabezado %}
        <h1>SUBLITOTE</h1>
        <h2>Administrador de taller</h2>
{% endblock %}

<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
<h3>{{ datos.nombreFormulario }}</h3>
<form class="formularioIngreso" method="post" action="{{ url_for('productos', aut=datos.aut) }}">
        <label for="codigo">Codigo:</label>
        <input type="text" name="codigo" value="{{ datos.codigoNuevo }}" {% if "modproducto" in datos %}readonly{% endif %} required>
        <label for="producto">Producto:</label>
        <input type="text" name="producto" {% if "modproducto" in datos %} value="{{ datos.modproducto.producto }}" {% endif %} placeholder="Descripcion del producto" required>
        <label for="preciocosto">Precio costo:</label>
        <input type="text" name="preciocosto" {% if "modproducto" in datos %} value="{{ datos.modproducto.preciocosto }}" {% endif %} placeholder="Costo del producto" required>
        <label for="precioventa">Precio venta:</label>
        <input type="text" name="precioventa" {% if "modproducto" in datos %} value="{{ datos.modproducto.precioventa }}" {% endif %} placeholder="Precio final de venta" required>
        <label for="existencias">Existencias:</label>
        <input type="text" name="existencias" {% if "modproducto" in datos %} value="{{ datos.modproducto.existencias }}" {% endif %} placeholder="Existencias en taller" required>
        <label for="observaciones">Observaciones:</label>
        <input type="text" name="observaciones" {% if "modproducto" in datos %} value="{{ datos.modproducto.observaciones }}" {% endif %} placeholder="Observaciones del producto (opcional)">
        <br><br>
        <button type="submit" name="guardaproducto" value="{{ datos.accionformulario }}">Guardar {{datos.accionproducto}}</button>
</form>


{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}

{% endblock %}
