{% extends 'st_layout.html' %}

{% block encabezado %}
        <h1>SUBLITOTE</h1>
        <h2>Productos del taller</h2>
{% endblock %}

<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
<form class="formularioIngreso" method="post" action="{{ url_for('productos', aut=datos.aut) }}">
        <label for="busqueda">Buscar producto:</label>
        <input type="text" name="busqueda" placeholder="ej.: carcasa celular"> 
        <br>
        <button name="buscaproducto">Buscar</button>
        <br>
        <button name="listartodo">Listar todos</button>
        <br>
        <button name="nuevoproducto">Nuevo producto</button>
</form>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
<table class="tbresultados">
        <thead>
                <th>COTIZAR</th>
                <th>ITEM</th>
                {% for encabezado in datos.listaproductos.encabezados %}
                        <th>{{ encabezado }}</th>
                {% endfor %}
                <th>ACCIONES</th>
        </thead>
        <tbody>
                {% for producto in datos.listaproductos.datos %}
                        <tr>
                                
                                <td>
                                        <form method="post" action="{{ url_for('productos', aut=datos.aut) }}">
                                                <button name="cotizar" value="{{ producto.1 }}" style="height: 60px;">AÑADIR</button>
                                        </form>
                                </td>
                                {% for dato in producto %}
                                        <td>{{ dato }}</td>
                                {% endfor %}
                                <td>
                                        <form method="post" action="{{ url_for('productos', aut=datos.aut) }}" style="display: flex;">
                                                <button name="modificarproducto" value="{{ producto.1 }}" style="height: 50px;">Modificar</button>
                                                <button name="eliminarproducto" value="{{ producto.1 }}" style="height: 50px;">Eliminar</button>
                                        </form>
                                </td>
                        </tr>
                {% endfor %}
        </tbody>

</table>
{% endblock %}
