{% extends 'st_layout.html' %}

{% block encabezado %}
        <h1>SUBLITOTE</h1>
        <h2>Administrador de taller</h2>
{% endblock %}

<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
<form class="formularioIngreso" method="post" action="{{ url_for('productos', aut=datos.aut) }}">
        <label for="busqueda">Buscar producto:</label>
        <input type="text" name="busqueda" placeholder="ej.: carcasa celular">
        <button name="buscaproducto">Buscar</button>
        <button name="listartodo">Listar todos</button>
        <button name="nuevoproducto">Nuevo producto</button>
</form>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
<table class="tbresultados">
        <thead>
                {% for encabezado in datos.listaproductos.encabezados %}
                        <th>{{ encabezado }}</th>
                {% endfor %}
        </thead>
        <tbody>
                {% for producto in datos.listaproductos.datos %}
                        <tr>
                                {% for dato in producto %}
                                        <td>{{ dato }}</td>
                                {% endfor %}
                        </tr>
                {% endfor %}
        </tbody>

</table>
{% endblock %}
