{% extends 'layout.html' %}

{% block encabezado %}
        <h1>IshoApps</h1>
        <h2>ToDo list_</h2>
{% endblock %}

<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
<h3>Ingreso o busqueda de tareas:</h3>
<hr>
<form method="post" action="{{ url_for('todo', aut=datos.aut) }}">
     <label for="ingreso">Ingresar:
          <input type="text" name="ingreso" placeholder="Ej: limpiar cajas">
     </label>
     <button class="botonanimado" name="agrega">Agrega</button>
     <button class="botonanimado" name="busca">Busca</button>
</form>

{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
<table class="tbresultados">
     <thead>
               {% for dato in datos.resultados.encabezados %}
                    <th>{{ dato }}</th>
               {% endfor %}
                    <th>Accion</th>
     </thead>
     <tbody>
               {% for fila in datos.resultados.datos %}
               <tr {% if fila.2 == "COMPLETADO" %} style="background-color: lightgreen;" {% endif %}
               {% if fila.2 == "PENDIENTE" %} style="background-color: yellow;" {% endif %}
               {% if fila.2 == "EN CURSO" %} style="background-color: lightblue;" {% endif %}
               {% if fila.2 == "POSTERGADO" %} style="background-color: red;" {% endif %}>
                    {% for dato in fila %}
                    <td>
                         {% if dato == fila.1 %}
                         <strong>{{ dato }}</strong>
                         {% elif not dato %}
                         -
                         {% else %}
                         {{ dato }}
                         {% endif %}
                    </td>
                    {% endfor %}
                    <td>
                         <form method="post" action="{{ url_for('todo', aut=datos.aut) }}">
                              <button class="botonanimado" name="completa" style="width: 64px;" value="{{ fila.1 }}">OK</button>
                              <button class="botonanimado" name="encurso" style="width: 64px;" value="{{ fila.1 }}">CURSO</button>
                              <button class="botonanimado" name="posterga" style="width: 64px;" value="{{ fila.1 }}">POSTE</button>
                              <button class="botonanimado" name="elimina" style="width: 64px;" value="{{ fila.1 }}">ELIM</button>
                         </form>
                    </td>
               </tr>
               {% endfor %}
     </tbody>
</table>
{% endblock %}
