{% extends 'layout.html' %}

{% block encabezado %}
        <h1>Mediclean Ruta</h1>
        <h2>ADMIN</h2>
{% endblock %}

<!-- ------------------- BODY A ----------------------------- -->
{% block body_a %}
<h3>Usuarios activos o tokens activos:</h3>
<hr>
<h4>Tu token actual es: <input type="text" style="background-color: lightgreen;" value="{{ datos.aut }}" readonly></h4>
{% endblock %}
<!-- -------------------------BODY B------------------------------- -->
{% block body_b %}
<table class="tbresultados">
        <thead>
                <th>Usuario</th>
                <th>Token</th>
                <th>Eliminar</th>
        </thead>
        <tbody>
                {% for fila in datos.usuarios %}
                <tr {% if fila.1 == datos.aut %} style="background-color: lightgreen;" {% endif %}>
                        {% for dato in fila %}
                        <td>{{ dato }}</td>
                        {% endfor %}
                        <td>
                             <form method="post" action="{{ url_for('usersactives', aut=datos.aut) }}">
                                  <button name="elimina" value="{{ fila.1 }}">Eliminar</button>
                             </form>
                        </td>
                </tr>
                {% endfor %}
        </tbody>
</table>

{% endblock %}
